<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e63d883-b62b-4799-88c3-157f82e83ecc" Alias="Multiple Image Media Picker Partner" Level="1">
  <Info>
    <Name>Multiple Image Media Picker Partner</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "multiple": true,
  "validationLimit": {
    "max": 6
  }
}]]></Config>
</DataType>