<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f012582a-7b1d-4adc-9a4a-bd103feb6282" Alias="Project Item Template - Service Type" Level="1">
  <Info>
    <Name>Project Item Template - Service Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial Services",
    "Credit Counseling",
    "Tax Advisory Services"
  ]
}]]></Config>
</DataType>