<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc1aea28-3b4a-4906-a034-00c2cb8ab5df" Alias="Project Item Template - Thumbnail Image - Crop" Level="1">
  <Info>
    <Name>Project Item Template - Thumbnail Image - Crop</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Square",
      "alias": "square",
      "width": 480,
      "height": 480
    },
    {
      "label": "Wide",
      "alias": "wide",
      "width": 370,
      "height": 200
    }
  ],
  "enableLocalFocalPoint": false,
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c,cc07b313-0843-4aa8-bbda-871c8da728c8"
}]]></Config>
</DataType>