<?xml version="1.0" encoding="utf-8"?>
<DataType Key="add597ae-84c2-44ba-99c6-7e35f69bbef9" Alias="Setting Page - Social Media Platforms" Level="1">
  <Info>
    <Name>Setting Page - Social Media Platforms</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b368ad4b-74ec-4c39-876e-cb05077468b8",
      "label": "**{=platformName}** - {=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>