<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3654762-9479-4f7b-8573-fdeddcb18c96" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "Linkedin",
    "Tiktok",
    "X (formely twitter)",
    "Youtube"
  ]
}]]></Config>
</DataType>