<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08468e44-e947-4807-b029-22ba0b4d5db5" Alias="Team Item Template - Team - Position " Level="1">
  <Info>
    <Name>Team Item Template - Team - Position </Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial Advisor",
    "Business Specialist",
    "CEO \u0026 Founder",
    " CFO \u0026 Co-Founder",
    "Head of HR",
    "Banking Advisor"
  ]
}]]></Config>
</DataType>