#ceo{
  .container{
    padding: 6rem 0;
    display: flex;
    gap: 2rem;
    .img-container{
      p{
        font-style: italic;
        padding-top: 1rem;

      }

    }
    .text-container{
      padding: .5rem;

      p{
        margin: .6rem 0;
      }
    }
  }
}