#about-us{
  .container{
    display: grid;
    padding-bottom: 3rem;
    .card-form{
      background-color: var(--color-light);
      position: absolute;
      bottom: 0;
      right: 0;
    }
    blockquote{
        width: 50%;
    }
  }

  .small{
    width: 50%;
  }
}
