#success-story{
padding-bottom: 20rem;
  .container{
    position: relative;

    .section-title{
      padding-top: 4rem;
      width: 60%;
      margin: auto;
      text-align: center;
    }
    .stories-parent{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      padding-bottom: 3rem;
      h1{
        padding: 0;
        margin: 0;
      }
      h5{
        margin: auto;
        width: 90%;
      }

    }
    img{
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 1;
      text-align: center;
      z-index: 1;      
    }
  }
}