<?xml version="1.0" encoding="utf-8"?>
<Media Key="864bb266-9fa9-467e-b70a-62de69691a3a" Alias="Aaron.png" Level="2">
  <Info>
    <Parent Key="c83aae6f-82a3-433f-9683-0848cb76f806">People</Parent>
    <Path>/People/Aaronpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T18:58:21</CreateDate>
    <NodeName Default="Aaron.png" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3f2a0mga/aaron.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>