<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a72a780-fe6b-4e58-b340-242e6647e9df" Alias="arrow-angle-down" Level="2">
  <Info>
    <Parent Key="36a07a02-043e-4759-a485-8adde7d53681">Vectors</Parent>
    <Path>/Vectors/arrowAngleDown</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T12:10:04</CreateDate>
    <NodeName Default="arrow-angle-down" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oinnbsdq/angle-down-solid.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>