<?xml version="1.0" encoding="utf-8"?>
<Media Key="6335b158-729b-4a8d-b81f-f96adc69b675" Alias="bg-Dots.svg" Level="2">
  <Info>
    <Parent Key="36a07a02-043e-4759-a485-8adde7d53681">Vectors</Parent>
    <Path>/Vectors/bgDotssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T17:33:52</CreateDate>
    <NodeName Default="bg-Dots.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vigjpama/bg-dots.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>