<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6c41056-f1c8-4cf9-8844-cb81ab2238ac" Alias="Bg-side-square.svg" Level="2">
  <Info>
    <Parent Key="36a07a02-043e-4759-a485-8adde7d53681">Vectors</Parent>
    <Path>/Vectors/BgSideSquaresvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T17:33:52</CreateDate>
    <NodeName Default="Bg-side-square.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uswhmrgt/bg-side-square.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>