<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a2126f2-038d-453f-8c2a-fe18ad7d7cb2" Alias="Bonds.png" Level="2">
  <Info>
    <Parent Key="c83aae6f-82a3-433f-9683-0848cb76f806">People</Parent>
    <Path>/People/Bondspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T14:28:42</CreateDate>
    <NodeName Default="Bonds.png" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pxwgpxhe/bonds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>