<?xml version="1.0" encoding="utf-8"?>
<Media Key="6382d812-6427-435c-8105-4bbc7147a560" Alias="Brand.svg" Level="2">
  <Info>
    <Parent Key="b04e1860-8360-44dd-bca0-4a810acf2924">Logos</Parent>
    <Path>/Logos/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T17:38:21</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2bsdbaj2/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>