<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ee47359-476e-4d9c-9659-0bf8f2cc67a2" Alias="Brandon.png" Level="2">
  <Info>
    <Parent Key="c83aae6f-82a3-433f-9683-0848cb76f806">People</Parent>
    <Path>/People/Brandonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T18:58:22</CreateDate>
    <NodeName Default="Brandon.png" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/002leoah/brandon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>