<?xml version="1.0" encoding="utf-8"?>
<Media Key="eeef3760-736a-4071-b634-df74b44e0cc6" Alias="contact-project-person.png" Level="2">
  <Info>
    <Parent Key="c83aae6f-82a3-433f-9683-0848cb76f806">People</Parent>
    <Path>/People/contactProjectPersonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:36:48</CreateDate>
    <NodeName Default="contact-project-person.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/354lswad/contact-project-person.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>