<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c05391f-43fe-40bc-bce0-f35f4aa14dce" Alias="expert-person.png" Level="2">
  <Info>
    <Parent Key="c83aae6f-82a3-433f-9683-0848cb76f806">People</Parent>
    <Path>/People/expertPersonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:36:49</CreateDate>
    <NodeName Default="expert-person.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sdzfhcux/expert-person.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>