<?xml version="1.0" encoding="utf-8"?>
<Media Key="7393ec4b-88cf-4ce6-a32c-4bb01bfc9c4e" Alias="group-project-image.png" Level="2">
  <Info>
    <Parent Key="c83aae6f-82a3-433f-9683-0848cb76f806">People</Parent>
    <Path>/People/groupProjectImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:36:49</CreateDate>
    <NodeName Default="group-project-image.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yqtnlrng/group-project-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>