<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3c47869-3a1e-45fb-ac65-07d5ff782741" Alias="kerr.png" Level="2">
  <Info>
    <Parent Key="c83aae6f-82a3-433f-9683-0848cb76f806">People</Parent>
    <Path>/People/kerrpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T18:58:22</CreateDate>
    <NodeName Default="kerr.png" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/20zieblx/kerr.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>