<?xml version="1.0" encoding="utf-8"?>
<Media Key="b04e1860-8360-44dd-bca0-4a810acf2924" Alias="Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T17:37:52</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>