<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4135a9b-f05a-48d9-8202-08a9f79f09ed" Alias="partner5.svg" Level="2">
  <Info>
    <Parent Key="36a07a02-043e-4759-a485-8adde7d53681">Vectors</Parent>
    <Path>/Vectors/partner5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T17:40:26</CreateDate>
    <NodeName Default="partner5.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nhtlcjsb/partner5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>