<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe4fe9f0-b94b-42d3-8ea6-7c2ae2fbcb1a" Alias="partner5.svg (1)" Level="2">
  <Info>
    <Parent Key="36a07a02-043e-4759-a485-8adde7d53681">Vectors</Parent>
    <Path>/Vectors/partner5svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T17:13:04</CreateDate>
    <NodeName Default="partner5.svg (1)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ajko0hcq/partner5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>