<?xml version="1.0" encoding="utf-8"?>
<Media Key="172f52f7-dbd3-43fa-acc9-d8ffb0a80a30" Alias="partner2.svg (1)" Level="2">
  <Info>
    <Parent Key="36a07a02-043e-4759-a485-8adde7d53681">Vectors</Parent>
    <Path>/Vectors/partner2svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T17:10:43</CreateDate>
    <NodeName Default="partner2.svg (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/axxj13oi/partner2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>