<?xml version="1.0" encoding="utf-8"?>
<Media Key="16e0de74-5336-46c3-b298-68c50f71b274" Alias="partner3.svg" Level="2">
  <Info>
    <Parent Key="36a07a02-043e-4759-a485-8adde7d53681">Vectors</Parent>
    <Path>/Vectors/partner3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T17:40:25</CreateDate>
    <NodeName Default="partner3.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qzrff3bn/partner3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>