<?xml version="1.0" encoding="utf-8"?>
<Media Key="1dda7307-c797-447d-9175-854f9ca5fcb2" Alias="partner4.svg" Level="2">
  <Info>
    <Parent Key="36a07a02-043e-4759-a485-8adde7d53681">Vectors</Parent>
    <Path>/Vectors/partner4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T17:40:25</CreateDate>
    <NodeName Default="partner4.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4xhhr52m/partner4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>