<?xml version="1.0" encoding="utf-8"?>
<Media Key="99b08889-6f41-4fa5-93b0-5e3cf6f51c98" Alias="partner1.svg" Level="2">
  <Info>
    <Parent Key="36a07a02-043e-4759-a485-8adde7d53681">Vectors</Parent>
    <Path>/Vectors/partner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T17:40:24</CreateDate>
    <NodeName Default="partner1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pm0be400/partner1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>