<?xml version="1.0" encoding="utf-8"?>
<Media Key="169ea2dd-9a56-4ba9-a09f-681120a217b6" Alias="partner2.svg" Level="2">
  <Info>
    <Parent Key="36a07a02-043e-4759-a485-8adde7d53681">Vectors</Parent>
    <Path>/Vectors/partner2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T17:40:25</CreateDate>
    <NodeName Default="partner2.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f2pdz3cn/partner2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>