<?xml version="1.0" encoding="utf-8"?>
<Media Key="57b3813a-dfb5-40e9-b8d9-a8ceee870e60" Alias="partner6.svg" Level="2">
  <Info>
    <Parent Key="36a07a02-043e-4759-a485-8adde7d53681">Vectors</Parent>
    <Path>/Vectors/partner6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T17:40:26</CreateDate>
    <NodeName Default="partner6.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/za4bdnno/partner6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>