<?xml version="1.0" encoding="utf-8"?>
<Media Key="0aa371e8-a608-4738-a818-b6484ffa7c27" Alias="partner3.svg (1)" Level="2">
  <Info>
    <Parent Key="36a07a02-043e-4759-a485-8adde7d53681">Vectors</Parent>
    <Path>/Vectors/partner3svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T17:13:04</CreateDate>
    <NodeName Default="partner3.svg (1)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dlgad0at/partner3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>