<?xml version="1.0" encoding="utf-8"?>
<Media Key="c83aae6f-82a3-433f-9683-0848cb76f806" Alias="People" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/People</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T17:36:29</CreateDate>
    <NodeName Default="People" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>