<?xml version="1.0" encoding="utf-8"?>
<Media Key="031242d1-37b3-4602-83f7-9058a0cc6f4c" Alias="pj1.png" Level="2">
  <Info>
    <Parent Key="c83aae6f-82a3-433f-9683-0848cb76f806">People</Parent>
    <Path>/People/pj1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:36:50</CreateDate>
    <NodeName Default="pj1.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l0efjno0/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>