<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d4b59a6-8d73-4c32-b708-072362d4753c" Alias="project2.png" Level="2">
  <Info>
    <Parent Key="c83aae6f-82a3-433f-9683-0848cb76f806">People</Parent>
    <Path>/People/project2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:36:52</CreateDate>
    <NodeName Default="project2.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fgjb1cy0/project2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>