<?xml version="1.0" encoding="utf-8"?>
<Media Key="1936db39-8d51-4e68-8ea4-c393694d70b2" Alias="project-big.png" Level="2">
  <Info>
    <Parent Key="c83aae6f-82a3-433f-9683-0848cb76f806">People</Parent>
    <Path>/People/projectBigpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:36:51</CreateDate>
    <NodeName Default="project-big.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wyihblzy/project-big.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>