<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8caf94c-cf85-40a6-b66e-0032266938cd" Alias="risk-2.png" Level="2">
  <Info>
    <Parent Key="c83aae6f-82a3-433f-9683-0848cb76f806">People</Parent>
    <Path>/People/risk2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T17:36:52</CreateDate>
    <NodeName Default="risk-2.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ymzjyhxm/risk-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>