<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6756c33-ba47-4d2b-ae36-420a402b5964" Alias="Tina.png" Level="2">
  <Info>
    <Parent Key="c83aae6f-82a3-433f-9683-0848cb76f806">People</Parent>
    <Path>/People/Tinapng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T18:58:22</CreateDate>
    <NodeName Default="Tina.png" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xstdgybo/tina.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>