<?xml version="1.0" encoding="utf-8"?>
<Media Key="36a07a02-043e-4759-a485-8adde7d53681" Alias="Vectors" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vectors</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T17:33:37</CreateDate>
    <NodeName Default="Vectors" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>