<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f8e1e123-6a36-4512-9876-cfa5573bad35" Alias="projectPage" Level="2">
  <Info>
    <Name>Project Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>projectPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8314dea3-2ee2-427a-8f4c-a715975e2121">projectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cf2d9805-bb75-4fc2-8bba-be4644bcc36e" SortOrder="0">projectItemTemplate</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>