<?xml version="1.0" encoding="utf-8"?>
<Content Key="562a0464-99f0-40e5-82cf-9978393cdd3f" Alias="Aaron Lambert" Level="3">
  <Info>
    <Parent Key="9c5b46cc-32e6-4662-9f3b-8d4493ca67d3">About</Parent>
    <Path>/Home/About/AaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMemberItemTemplate</ContentType>
    <CreateDate>2024-09-18T19:00:28</CreateDate>
    <NodeName Default="Aaron Lambert" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d4ee01f-a7f2-4f9e-83c9-91f8a4dce817">teamMemberItemTemplate</Template>
  </Info>
  <Properties>
    <teamMemberCompany>
      <Value><![CDATA[Onatrix]]></Value>
    </teamMemberCompany>
    <teamMemberImage>
      <Value><![CDATA[[
  {
    "key": "56efe4ac-2251-48fb-9e7c-3cdd08be3d55",
    "mediaKey": "864bb266-9fa9-467e-b70a-62de69691a3a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMemberImage>
    <teamMemberPosition>
      <Value><![CDATA[[
  "Business Specialist"
]]]></Value>
    </teamMemberPosition>
  </Properties>
</Content>