<?xml version="1.0" encoding="utf-8"?>
<Content Key="13be65cf-e542-4507-a0e7-55f1da65ee4e" Alias="AJ Carter" Level="3">
  <Info>
    <Parent Key="9c5b46cc-32e6-4662-9f3b-8d4493ca67d3">About</Parent>
    <Path>/Home/About/AJCarter</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMemberItemTemplate</ContentType>
    <CreateDate>2024-09-18T18:59:50</CreateDate>
    <NodeName Default="AJ Carter" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d4ee01f-a7f2-4f9e-83c9-91f8a4dce817">teamMemberItemTemplate</Template>
  </Info>
  <Properties>
    <teamMemberCompany>
      <Value><![CDATA[Onatrix]]></Value>
    </teamMemberCompany>
    <teamMemberImage>
      <Value><![CDATA[[
  {
    "key": "d19f3c16-b77a-4d2a-adbd-029bd9a47ef3",
    "mediaKey": "3c05391f-43fe-40bc-bce0-f35f4aa14dce",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMemberImage>
    <teamMemberPosition>
      <Value><![CDATA[[
  "Financial Advisor"
]]]></Value>
    </teamMemberPosition>
  </Properties>
</Content>