<?xml version="1.0" encoding="utf-8"?>
<Content Key="8351d6a0-3971-4cea-ae68-51ff53f2c771" Alias="Brandon Newton" Level="3">
  <Info>
    <Parent Key="9c5b46cc-32e6-4662-9f3b-8d4493ca67d3">About</Parent>
    <Path>/Home/About/BrandonNewton</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMemberItemTemplate</ContentType>
    <CreateDate>2024-09-18T18:59:15</CreateDate>
    <NodeName Default="Brandon Newton" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d4ee01f-a7f2-4f9e-83c9-91f8a4dce817">teamMemberItemTemplate</Template>
  </Info>
  <Properties>
    <teamMemberCompany>
      <Value><![CDATA[Onatrix]]></Value>
    </teamMemberCompany>
    <teamMemberImage>
      <Value><![CDATA[[
  {
    "key": "a8580f6b-0f9e-4dbc-b7f3-0e68015182c9",
    "mediaKey": "8ee47359-476e-4d9c-9659-0bf8f2cc67a2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMemberImage>
    <teamMemberPosition>
      <Value><![CDATA[[
  "Financial Advisor"
]]]></Value>
    </teamMemberPosition>
  </Properties>
</Content>