<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d9a0bb3-7e95-44ce-9022-74135b404f65" Alias="Brandon Kerr" Level="3">
  <Info>
    <Parent Key="9c5b46cc-32e6-4662-9f3b-8d4493ca67d3">About</Parent>
    <Path>/Home/About/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMemberItemTemplate</ContentType>
    <CreateDate>2024-09-18T19:01:36</CreateDate>
    <NodeName Default="Brandon Kerr" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d4ee01f-a7f2-4f9e-83c9-91f8a4dce817">teamMemberItemTemplate</Template>
  </Info>
  <Properties>
    <teamMemberCompany>
      <Value><![CDATA[Onatrix]]></Value>
    </teamMemberCompany>
    <teamMemberImage>
      <Value><![CDATA[[
  {
    "key": "fbce4db7-4b7d-4816-840c-8c8f9660bef2",
    "mediaKey": "b3c47869-3a1e-45fb-ac65-07d5ff782741",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMemberImage>
    <teamMemberPosition>
      <Value><![CDATA[[
  " CFO \u0026 Co-Founder"
]]]></Value>
    </teamMemberPosition>
  </Properties>
</Content>