<?xml version="1.0" encoding="utf-8"?>
<Content Key="acab5856-d391-45f8-ae5c-20e96d6fd134" Alias="Contact" Level="2">
  <Info>
    <Parent Key="ab70611e-1435-4aeb-b5c3-c4b0030e30e5">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-10T20:18:28</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8ecb5ce4-4b41-4267-825a-ff4e20a8eeca">contactPage</Template>
  </Info>
  <Properties />
</Content>