<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab70611e-1435-4aeb-b5c3-c4b0030e30e5" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-09T11:31:48</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f798edc-c673-4a6e-8444-c584485ec12a">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQoute>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQoute>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "683f0b3c-e30c-4df2-a7c0-8cb0bf6c8bbc",
    "mediaKey": "85de1427-4a82-492a-bd31-c5cef414a2c3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "af4c706c-59a5-47d0-b74f-4bf61b6e6eff",
    "mediaKey": "ea5ed71f-8c47-4d7a-bd4c-e1952e6e5745",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonLinkUrl>
      <Value><![CDATA[/about]]></Value>
    </heroButtonLinkUrl>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <ourStoryBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "57d9b634-8aa6-412f-bad7-9a961f757ae9",
    "mediaKey": "11d8e1e6-b568-4cfd-ad6e-641c5670d1e3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourStoryBackgroundImage>
    <ourStoryBottonLinkUrl>
      <Value><![CDATA[/about]]></Value>
    </ourStoryBottonLinkUrl>
    <ourStoryBottonText>
      <Value><![CDATA[Read our story]]></Value>
    </ourStoryBottonText>
    <ourStoryClientNumbers>
      <Value><![CDATA[4000]]></Value>
    </ourStoryClientNumbers>
    <ourStoryHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </ourStoryHeadline>
    <ourStoryText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </ourStoryText>
    <pageDescription>
      <Value><![CDATA[here is a demo page]]></Value>
    </pageDescription>
    <pageKeywords>
      <Value><![CDATA[[
  "umbraco",
  "webdevelopment"
]]]></Value>
    </pageKeywords>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <partnerImage>
      <Value><![CDATA[[
  {
    "key": "5ccabff4-2e76-4e11-a287-12859c983317",
    "mediaKey": "99b08889-6f41-4fa5-93b0-5e3cf6f51c98",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "3f69bcf3-76c6-4d29-9103-0add1eeccfa3",
    "mediaKey": "172f52f7-dbd3-43fa-acc9-d8ffb0a80a30",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8f5b4b6e-4e96-4732-8e0d-f68f0c460466",
    "mediaKey": "0aa371e8-a608-4738-a818-b6484ffa7c27",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "f342a487-f81e-485b-a306-75fa008a6ec0",
    "mediaKey": "f0a5645e-84b2-4854-88b0-f3fec038e171",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b3979bf8-c3c2-4e02-aa60-e9ae5aa66f31",
    "mediaKey": "fe4fe9f0-b94b-42d3-8ea6-7c2ae2fbcb1a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "90d8ad2b-baf3-48a3-8ac6-5a1191c4a28e",
    "mediaKey": "5967681a-073c-4386-8423-0fe0c7eaf734",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerImage>
    <recentProjectHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </recentProjectHeadline>
    <recentProjectSectionTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </recentProjectSectionTitle>
    <serviceCardHeadline>
      <Value><![CDATA[]]></Value>
    </serviceCardHeadline>
    <serviceCardImage>
      <Value><![CDATA[]]></Value>
    </serviceCardImage>
    <serviceCardText>
      <Value><![CDATA[]]></Value>
    </serviceCardText>
    <serviceHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </serviceHeadline>
    <serviceSectionTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </serviceSectionTitle>
    <successStoryBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "d2c920dd-7423-4a01-b698-4c47d97ef7d7",
    "mediaKey": "0db00d52-283e-4267-83ac-08b0da1b7626",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successStoryBackgroundImage>
    <successStoryBranchesNumber>
      <Value><![CDATA[125]]></Value>
    </successStoryBranchesNumber>
    <successStoryBranchesText>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </successStoryBranchesText>
    <successStoryCustomerNumber>
      <Value><![CDATA[689]]></Value>
    </successStoryCustomerNumber>
    <successStoryCustomerText>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </successStoryCustomerText>
    <successStoryHeadline>
      <Value><![CDATA[Success story]]></Value>
    </successStoryHeadline>
    <successStoryProjectsNumber>
      <Value><![CDATA[370]]></Value>
    </successStoryProjectsNumber>
    <successStoryProjectsText>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </successStoryProjectsText>
    <successStorySectionTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successStorySectionTitle>
    <title>
      <Value><![CDATA[Home]]></Value>
    </title>
  </Properties>
</Content>