<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a8c829f-74b5-4f6a-a096-9fcafbc8416c" Alias="Kevin Gardner" Level="3">
  <Info>
    <Parent Key="9c5b46cc-32e6-4662-9f3b-8d4493ca67d3">About</Parent>
    <Path>/Home/About/KevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMemberItemTemplate</ContentType>
    <CreateDate>2024-09-18T19:02:44</CreateDate>
    <NodeName Default="Kevin Gardner" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d4ee01f-a7f2-4f9e-83c9-91f8a4dce817">teamMemberItemTemplate</Template>
  </Info>
  <Properties>
    <teamMemberCompany>
      <Value><![CDATA[Swedbank]]></Value>
    </teamMemberCompany>
    <teamMemberImage>
      <Value><![CDATA[[
  {
    "key": "442b53d2-691a-478a-80de-3122ac48ba56",
    "mediaKey": "b87f771b-a54b-4f61-9e81-ce37ea70c6f4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMemberImage>
    <teamMemberPosition>
      <Value><![CDATA[[
  "Banking Advisor"
]]]></Value>
    </teamMemberPosition>
  </Properties>
</Content>