<?xml version="1.0" encoding="utf-8"?>
<Content Key="60e52674-ed90-4b8d-b644-71f9ab266fd4" Alias="Miranda Dayton" Level="3">
  <Info>
    <Parent Key="9c5b46cc-32e6-4662-9f3b-8d4493ca67d3">About</Parent>
    <Path>/Home/About/MirandaDayton</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMemberItemTemplate</ContentType>
    <CreateDate>2024-09-18T19:02:10</CreateDate>
    <NodeName Default="Miranda Dayton" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d4ee01f-a7f2-4f9e-83c9-91f8a4dce817">teamMemberItemTemplate</Template>
  </Info>
  <Properties>
    <teamMemberCompany>
      <Value><![CDATA[Onatrix]]></Value>
    </teamMemberCompany>
    <teamMemberImage>
      <Value><![CDATA[[
  {
    "key": "cd135264-80e1-4224-a889-9f4af9063968",
    "mediaKey": "bbf7f634-6e14-4ebc-b32d-4cb9e9113918",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMemberImage>
    <teamMemberPosition>
      <Value><![CDATA[[
  "Head of HR"
]]]></Value>
    </teamMemberPosition>
  </Properties>
</Content>