<?xml version="1.0" encoding="utf-8"?>
<Content Key="305bdcf0-0a52-4df2-8971-9bfabfc6e746" Alias="Projects" Level="2">
  <Info>
    <Parent Key="ab70611e-1435-4aeb-b5c3-c4b0030e30e5">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2024-09-10T20:14:02</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8314dea3-2ee2-427a-8f4c-a715975e2121">projectPage</Template>
  </Info>
  <Properties />
</Content>