<?xml version="1.0" encoding="utf-8"?>
<Content Key="a80c8b14-af45-408b-861a-ed1c94b35ad7" Alias="Services" Level="2">
  <Info>
    <Parent Key="ab70611e-1435-4aeb-b5c3-c4b0030e30e5">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2024-09-10T20:11:22</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e7400779-7641-49cb-a454-e1d6cf5581c3">servicePage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <questionFormButtonText>
      <Value><![CDATA[Question]]></Value>
    </questionFormButtonText>
    <questionFormHeadline>
      <Value><![CDATA[Have a question ?]]></Value>
    </questionFormHeadline>
    <questionPlaceholderEmail>
      <Value><![CDATA[Email]]></Value>
    </questionPlaceholderEmail>
    <questionPlaceholderName>
      <Value><![CDATA[Name]]></Value>
    </questionPlaceholderName>
    <questionPlaceholderQuestion>
      <Value><![CDATA[Submit]]></Value>
    </questionPlaceholderQuestion>
  </Properties>
</Content>