<?xml version="1.0" encoding="utf-8"?>
<Content Key="715e1592-fc30-490c-ab3e-c06bc3c12590" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-10T12:09:14</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutUsHeadline>
      <Value><![CDATA[About Us]]></Value>
    </aboutUsHeadline>
    <aboutUsImage>
      <Value><![CDATA[[
  {
    "key": "589e029e-a99d-4d6d-8055-bebfaa3208d0",
    "mediaKey": "7393ec4b-88cf-4ce6-a32c-4bb01bfc9c4e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsImage>
    <aboutUsText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </aboutUsText>
    <emailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </emailAddress>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "6b74b8d2-de82-4bae-a35b-eab00455d88d",
    "mediaKey": "eeef3760-736a-4071-b634-df74b44e0cc6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <imageVectorFirst>
      <Value><![CDATA[[
  {
    "key": "3791c1bf-f83e-48f3-8fbd-cce76e2157c0",
    "mediaKey": "a6c41056-f1c8-4cf9-8844-cb81ab2238ac",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imageVectorFirst>
    <imageVectorSecond>
      <Value><![CDATA[[
  {
    "key": "918e7f0e-ffa8-4c26-b3f6-8919e67617b5",
    "mediaKey": "6335b158-729b-4a8d-b81f-f96adc69b675",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imageVectorSecond>
    <nextProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </nextProjectHeadline>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <partnerImage>
      <Value><![CDATA[[
  {
    "key": "4b9ecd85-8682-47d5-9148-db8e6299f89c",
    "mediaKey": "99b08889-6f41-4fa5-93b0-5e3cf6f51c98",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2a09a1eb-59ef-47a5-8b15-c19cd4af6f3e",
    "mediaKey": "172f52f7-dbd3-43fa-acc9-d8ffb0a80a30",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b825aa79-acd7-42dd-ada3-f27401eb4b9e",
    "mediaKey": "0aa371e8-a608-4738-a818-b6484ffa7c27",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "5f7ccebb-2640-4321-a5b2-dd162fc8e3da",
    "mediaKey": "f0a5645e-84b2-4854-88b0-f3fec038e171",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "f60d8f71-3b7b-4ac6-bc97-c7c7f7ac8e57",
    "mediaKey": "fe4fe9f0-b94b-42d3-8ea6-7c2ae2fbcb1a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "ffee3f49-83d5-461d-b335-91c1d559de96",
    "mediaKey": "5967681a-073c-4386-8423-0fe0c7eaf734",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerImage>
    <phoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </phoneNumber>
    <questionFormButtonText>
      <Value><![CDATA[Submit]]></Value>
    </questionFormButtonText>
    <questionFormHeadline>
      <Value><![CDATA[Have a question ?]]></Value>
    </questionFormHeadline>
    <questionPlaceholderEmail>
      <Value><![CDATA[Email]]></Value>
    </questionPlaceholderEmail>
    <questionPlaceholderName>
      <Value><![CDATA[Name]]></Value>
    </questionPlaceholderName>
    <questionPlaceholderQuestion>
      <Value><![CDATA[Question]]></Value>
    </questionPlaceholderQuestion>
    <sideBarTags>
      <Value><![CDATA[[
  "Report",
  "Busines plans",
  "Insights",
  "Business",
  "app",
  "Project",
  "Finance",
  "Pricing"
]]]></Value>
    </sideBarTags>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "a06271b9-67cc-4a79-8b10-8c8314444f3d",
    "mediaKey": "6382d812-6427-435c-8105-4bbc7147a560",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Bablabla]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>