<?xml version="1.0" encoding="utf-8"?>
<Content Key="23ab974f-00d7-4c95-b07d-f40cecdb8d14" Alias="Tina Fox" Level="3">
  <Info>
    <Parent Key="9c5b46cc-32e6-4662-9f3b-8d4493ca67d3">About</Parent>
    <Path>/Home/About/TinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMemberItemTemplate</ContentType>
    <CreateDate>2024-09-18T19:01:05</CreateDate>
    <NodeName Default="Tina Fox" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2d4ee01f-a7f2-4f9e-83c9-91f8a4dce817">teamMemberItemTemplate</Template>
  </Info>
  <Properties>
    <teamMemberCompany>
      <Value><![CDATA[Onatrix]]></Value>
    </teamMemberCompany>
    <teamMemberImage>
      <Value><![CDATA[[
  {
    "key": "e0e3b53a-def8-42c9-9a3c-b2b5e6e3dda4",
    "mediaKey": "d6756c33-ba47-4d2b-ae36-420a402b5964",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMemberImage>
    <teamMemberPosition>
      <Value><![CDATA[[
  "CEO \u0026 Founder"
]]]></Value>
    </teamMemberPosition>
  </Properties>
</Content>