@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";

}
@await Html.PartialAsync("partials/static/breadcrumb.cshtml")

        <div class="container">
          <div class="wrapper-aside-left">
        <aside>
            @await Html.PartialAsync("partials/static/sidebar.cshtml")
        </aside>
        <section id="service-content">
            
            <img src="/images/people/risk.png" alt="">
            <div class="vl-line">
            <ul class="keypoint">
                @Model.Value("pageContent")
            </ul>
            </div>
        </section>
          </div>
         </div>