p{

margin: 0;
padding-top: 0rem;
padding-bottom: 1rem;
}

.section-title {
  padding-top: 5.5rem;
  padding-bottom: .5rem;
}

.keypoint{
  margin-top: 0;
  padding-top: 0;

    li::marker {
      color: #D9C3A9;

    }
    li{
      padding: .5rem 0;
    }

}

blockquote {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 1rem;
}

