<section id="partners">
    <div class="container">
    <img src="/images/illustration/partner.svg" alt="">
    <img src="/images/illustration/partner.svg" alt="">
    <img src="/images/illustration/partner.svg" alt="">
    <img src="/images/illustration/partner.svg" alt="">
    <img src="/images/illustration/partner.svg" alt="">
    <img src="/images/illustration/partner.svg" alt="">
    </div>
</section>