@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	var selection = Umbraco.Content(Guid.Parse("305bdcf0-0a52-4df2-8971-9bfabfc6e746"))
    .ChildrenOfType("projectItemTemplate")
    .Where(x => x.IsVisible());
}

<section id="recent-project">
  <div class="container">
    <div class="section-title">
      <h6>OUR PROJECTS</h6>
      <h2>Recent projects</h2>
    </div>
  </div>
   <div class="projects-container">
@foreach (var item in selection)
{
    var thumbnailImage = item.Value<IPublishedContent>("thumbnailImage");
    var imageUrl = thumbnailImage != null ? thumbnailImage.GetCropUrl(480, 480) : "";
    var serviceType = item.Value<string>("serviceType") ?? "";
    <a href="@item.Url()">
    <div class="project">
      <div class="image">
       <img src="@imageUrl" alt="Project image" />
        <div class="banner bg-primary">
          <h6>@item.Name</h6>
          <p>@serviceType</p>
        </div>
      </div>
    </div>
    </a>
}
  </div>
</section>

