<section id="project">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.1615241898594!2d18.05131977702966!3d59.33025707461473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d61b5b2a595%3A0xd9fa560691e12d7!2sKlarabergsviadukten%2090%2C%20111%2064%20Stockholm!5e0!3m2!1ssv!2sse!4v1725559541066!5m2!1ssv!2sse" width="1920" height="750" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<div class="container">
<div class="next-project bg-light">
    <div class="section-title">
    <h6>Request a call back</h6>
    <h2>Let us know about your next project</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus</p>
    </div>
    <form action="" novalidate>
    <input type="text" placeholder="Name">
    <input type="number" placeholder="Phone" >
    <input type="text" placeholder="Email address">
    <select name="" id="">
        <option value="">Financial consulting</option>
    </select>
    <a href="" class="btn-primary">Submit</a>
    </form>
</div>
</div>
</section>